<a href="https://colab.research.google.com/github/hjj31/AI/blob/master/CW_J020_110720.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#operations on sets
s1={11,23,34,45,56,'call',67.78,89,'home'}
s2={11,21,31,41,51,'call',61,71,81}

In [7]:
print(s1)
print(s2)

{34, 67.78, 11, 45, 'call', 23, 56, 89, 'home'}
{71, 41, 11, 'call', 81, 51, 21, 61, 31}

In [8]:
#union
s12=s1.union(s2)
print(s12)

{34, 67.78, 71, 41, 11, 45, 'call', 81, 51, 21, 23, 56, 89, 31, 61, 'home'}

In [9]:
#intersection
s21=s2.intersection(s1)
print(s21)

{'call', 11}

In [10]:
#adding and removing items in a set
s2.add('67.78')
s1.remove(23)

In [11]:
print(s1)
print(s2)

{34, 67.78, 11, 45, 'call', 56, 89, 'home'}
{71, 41, 11, 'call', 81, 51, 21, '67.78', 61, 31}

In [12]:
#defining a function
def add(x,y):
  return x+y

z=add(10,29)
print(z)

39

In [13]:
#making a function that uses global variables
a=9
b=11
c=10
def printer():
  print(a+b+c)

printer()

30

In [14]:
print(float(int('212',base=5)))

57.0

In [18]:
#Traceback helps you to track the error at which line it is and gives you information on the same.
help(traceback)

NameError: ignored

In [19]:
# name mangling 
class Student: 
    def __init__(self, name): 
        self.__name = name 
  
    def displayName(self): 
        print(self.__name) 
  
s1 = Student("Santhosh") 
s1.displayName() 
  
# Raises an error 
print(s1.__name)

#the class variable/attribute __name cannot be accessed outside the class.

Santhosh

AttributeError: ignored

In [20]:
#Shows all the valid attributes with the name mangling process that is done to the class variable __name.
print(dir(s1))

['_Student__name', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'displayName']

In [22]:
#The class variable can be accessed from outside the class with the name _Student__name.
class Student: 
    def __init__(self, name): 
        self.__name = name 
  
s1 = Student("Santosh") 
print(s1._Student__name)

Santosh

In [29]:
import pandas as pd

In [27]:
from google.colab import files
upload=files.upload()

Saving SalesJan2009.csv to SalesJan2009.csv

In [33]:
d=pd.read_csv('SalesJan2009.csv')
d

    Transaction_date   Product Price  ...    Last_Login   Latitude   Longitude
0        1/2/09 6:17  Product1  1200  ...   1/2/09 6:08  51.500000   -1.116667
1        1/2/09 4:53  Product1  1200  ...   1/2/09 7:49  39.195000  -94.681940
2       1/2/09 13:08  Product1  1200  ...  1/3/09 12:32  46.188060 -123.830000
3       1/3/09 14:44  Product1  1200  ...  1/3/09 14:22 -36.133333  144.750000
4       1/4/09 12:56  Product2  3600  ...  1/4/09 12:45  33.520560  -86.802500
..               ...       ...   ...  ...           ...        ...         ...
993    1/22/09 14:25  Product1  1200  ...   3/1/09 3:37  54.583333   -5.933333
994     1/28/09 5:36  Product2  3600  ...   3/1/09 4:40 -20.360278   57.366111
995      1/1/09 4:24  Product3  7500  ...   3/1/09 7:21  42.946940  -76.429440
996     1/8/09 11:55  Product1  1200  ...   3/1/09 7:28  52.083333    0.433333
997    1/12/09 21:30  Product1  1200  ...  3/1/09 10:14  43.073060  -89.401110

[998 rows x 12 columns]